<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2>Registration Unit</h2>

  <!-- FULL NAME: -->
  <div>
    <!-- <label for="fullName">Full name:</label> -->
    <input id="fullName" formControlName="fullName" placeholder="Full name" />
    <div
      *ngIf="
        registrationForm.get('fullName')?.invalid &&
        registrationForm.get('fullName')?.touched
      "
      class="error"
    >
      Name is required.
    </div>
  </div>

  <!-- PREFERRED LANGUAGE: -->
  <div>
    <!-- <label for="preferredLanguage">Language:</label> -->
    <select id="preferredLanguage" formControlName="preferredLanguage">
      <option value="" disabled>Select a language</option>
      <option value="EN">EN</option>
      <option value="HEB">HEB</option>
    </select>
  </div>

  <!-- PHONE: -->
  <div>
    <!-- <label for="phone">Phone:</label> -->
    <input id="phone" formControlName="phone" placeholder="Phone" />
    <div
      *ngIf="
        registrationForm.get('phone')?.invalid &&
        registrationForm.get('phone')?.touched
      "
      class="error"
    >
      Please enter a valid phone.
    </div>
  </div>

  <!-- IMAGE CUSTOMER FACE: -->
  <div
    *ngIf="!registrationForm.get('customerFace')?.invalid"
    class="img-container"
  >
    <img
      [src]="registrationForm.get('customerFace')?.value"
      alt="Captured Image"
    />
  </div>

  <!-- CUSTOMER FACE: -->
  <div class="capture-container">
    <button (click)="captureImage($event)">Capture Photo</button>
    <div *ngIf="registrationForm.get('customerFace')?.invalid" class="error">
      Customer face is required.
    </div>
  </div>

  <!-- SUBMIT: -->
  <button [disabled]="registrationForm.invalid" type="submit">SUBMIT</button>
</form>
