:host {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    color: #757575;
    h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    div {
      margin-bottom: 15px;

      input,
      select {
        text-align: center;
        border: 1px solid;
        border-color: #dddddd;
        border-width: 1px 1px 1px 1px;
        border-radius: 0px 0px 0px 0px;
        padding: 0.75em;
        font-weight: 400;
        color: #757575;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        box-sizing: border-box;
        transition: all 0.2s linear;
        -webkit-appearance: none;
      }

      option {
        border-color: #dddddd;
        color: inherit;
        padding: 5px 0;
      }

      &.img-container {
        display: flex;
        justify-content: center;
        img {
          height: 350px;
        }
      }

      &.capture-container {
        display: flex;
        justify-content: center;

        button {
          background-color: #f15a27;
        }
      }

      .error {
        color: red;
        margin-bottom: 0;
      }
    }

    button {
      border: none;
      background-color: #04740a;
      color: #ffffff;
      font-family: "Poppins", Sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 0px 0px 0px 0px;
      min-height: 40px;
      font-size: 15px;
      padding: 12px 24px;
      fill: #fff;
      text-align: center;
      transition: all 0.3s;
      border-radius: 0px 0px 0px 0px;

      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
}
